<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.startdis.sys.infra.mapper.VariableMapper">


    <select id="search" resultType="com.startdis.sys.domain.model.entity.Variable">
        SELECT sv.*
        FROM sys_variable sv
        <where>
            <if test="variableQuery.status != null">
                AND sv.status = #{variableQuery.status}
            </if>
            <if test="variableQuery.variableCode != null and variableQuery.variableCode != ''">
                AND sv.variable_code = #{variableQuery.variableCode}
            </if>
        </where>
    </select>
</mapper>

