<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.startdis.system.infra.mapper.DictItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.startdis.system.domain.model.entity.DictItem">
        <result column="id" property="id" />
        <result column="revision" property="revision" />
        <result column="created_by" property="createdBy" />
        <result column="created_at" property="createdAt" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_at" property="updatedAt" />
        <result column="dict_code" property="dictCode" />
        <result column="item_value" property="itemValue" />
        <result column="item_label" property="itemLabel" />
        <result column="item_remark" property="itemRemark" />
        <result column="item_sort" property="itemSort" />
        <result column="item_style" property="itemStyle" />
        <result column="item_css" property="itemCss" />
        <result column="status" property="status" />
        <result column="deleted" property="deleted" />
        <result column="tenant_id" property="tenantId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        revision,
        created_by,
        created_at,
        updated_by,
        updated_at,
        dict_code, item_value, item_label, item_remark, item_sort, item_style, item_css, status, deleted, tenant_id
    </sql>

</mapper>
