<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.startdis.system.infra.mapper.PackageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.startdis.system.domain.model.entity.Package">
        <result column="id" property="id" />
        <result column="revision" property="revision" />
        <result column="created_by" property="createdBy" />
        <result column="created_at" property="createdAt" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_at" property="updatedAt" />
        <result column="package_code" property="packageCode" />
        <result column="package_name" property="packageName" />
        <result column="package_remark" property="packageRemark" />
        <result column="package_exes" property="packageExes" />
        <result column="status" property="status" />
        <result column="deleted" property="deleted" />
        <result column="tenant_id" property="tenantId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        revision,
        created_by,
        created_at,
        updated_by,
        updated_at,
        package_code, package_name, package_remark, package_exes, status, deleted, tenant_id
    </sql>

</mapper>
